<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <appSettings>
    <add key="db_Blessit" value="Data Source=SHARAD-LAPTOP;DataBase=Blessit;User ID=sa;Password=1987;Pooling=False"/>
    <add key="ServiceBaseURL" value="http://localhost:50740/Services/BlessitService.svc/" />
    <add key="ImageUploadBasePath" value="/UploadedImages/"/>
    <add key="WebBackgroundImagePath" value="/UploadedImages/" />

  </appSettings>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Blessit.Host.Services.BlessitServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service name="Blessit.Service.BlessitService">
        <endpoint address="" behaviorConfiguration="Blessit.Host.Services.BlessitServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="Blessit.Service.IBlessitService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
